.Overlay {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.5);
  justify-content: center;
  flex-direction: column;
  transition: display 300ms ease,
}
.Overlay-DndContainer {
  height: 100%;
  width: 66.7%;
  display: flex;
  align-self: center;
  justify-content: space-between;
  flex-direction: row;
}
.Overlay-DndLinkContainer {
  display: inherit;
  justify-content: space-around;
  flex-direction: column;
  width: 33.4%;
  height: auto;
}
.Overlay-DragTitle {
  width: 16.7%;
  flex-direction: column;
  align-self: center;
  line-height: normal;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
