@import url('https://fonts.googleapis.com/css?family=Exo:300,500');

.App {
  text-align: center;
  color: white;
  font: 32px 'Exo', sans-serif;
  font-weight: 400;
  line-height: 75px;
}

.App-header {
  padding: 0px 16.7%;
  background-color: #0BB7FF;
  height: 75px;
  display: flex;
}
