@import url('https://fonts.googleapis.com/css?family=Exo:300,500');

.App {
  text-align: center;
  color: white;
  font: 32px 'Exo', sans-serif;
  font-weight: 300;
  line-height: 75px;
  display: flex;
}
