.Overlay {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.5);
  justify-content: center;
  flex-direction: column;
}
.Overlay-DndContainer {
  min-height: 66.7%;
  width: 66.7%;
  display: flex;
  align-self: center;
  justify-content: space-between;
  flex-direction: row;
}
.Overlay-DndLinkContainer {
  display: inherit;
  justify-content: space-around;
  flex-direction: column;
  width: 33.4%;
}
.Overlay-DndComponent {
  background-color: white;
  color: #222;
  border-radius: 25px;
  flex-direction: column;
  justify-content: center;
}
.DraggableTopic {
  min-width: 350px;
}
.DropTarget {
  background-color: white;
  height: 42%;
  color: #222;
}
.Overlay-DragTitle {
  width: 16.7%;
  flex-direction: column;
  align-self: center;
  line-height: normal;
}
